<nav class="bg-gradient-to-r from-blue-700 via-blue-600 to-indigo-600 shadow-lg p-4 flex flex-wrap justify-between items-center rounded-b-xl">

  <a href="/home" class="text-3xl font-extrabold text-white hover:drop-shadow-lg transition duration-300">
    Drive
  </a>
  <div class="flex items-center space-x-2 mt-2 md:mt-0">
    <span class="uppercase text-white/80 text-sm tracking-wide">Welcome</span>
    <h1 class="text-2xl font-bold text-white drop-shadow-md leading-none">
      <%= user.username %>
    </h1>
  </div>


  <button onclick="showPopUp()"
    class="bg-white text-indigo-600 font-bold py-2 px-5 rounded-full shadow-xl hover:bg-indigo-600 hover:text-white transform hover:scale-105 transition duration-300 mt-2 md:mt-0">
    Upload File
  </button>
</nav>
